.safeArea {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.container {
  text-align: center;
  padding: 20px;
}

.heading {
  font-size: 40px;
  font-weight: bold;
  color: #A020F0;
  margin: 20px 0;
}

.loginContainer {
  width: 100%;
  max-width: 400px;
  background-color: #F0E6FF;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  align-items: center;
}

.loginHeading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.input {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #A020F0;
  border-radius: 10px;
}

.nameInput {
  width: calc(100% - 30px);
  padding: 15px;
  margin-bottom: 10px;
  border-color: #A020F0;
}

.instituteInput {
  width: calc(100%);
  padding: 15px;
  margin-bottom: 10px;
  border-color: #A020F0;
}

.mobileInput {
  width: calc(100% - 30px);
  padding: 15px;
  margin-bottom: 10px;
  border-color: #A020F0;
}

.otpInput {
  border-color: #F333FF;
}

.loginButton {
  background-color: #A020F0;
  color: #fff;
  padding: 15px 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.loginButton:hover {
  background-color: #8b1ac7;
}
